{% extends 'ConfigOrionBundle::layout.html.twig' %}
{% block body%}


<ul class="breadcrumb">
    <li><a href="{{ path('instancia_admin', {'id': instancia.id}) }}">{{ instancia.nombre }}</a></li>
    <li>Registrar plugin</li>
</ul>

<h1>Registrar plugin</h1>


<div class="content-hr-both show-content">
    <form action="{{ path('plugin_create',{'id_instancia': instancia.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_label(form.ruta) }}
    {{ form_widget(form.ruta) }}
    {{ form_label(form.descripcion) }}
    {{ form_widget(form.descripcion) }}
        <div class="hidden">{{ form_rest(form) }}</div>
        <p class="actions-forms">
            <button type="submit" class="btn btn-success active">
                <span class="glyphicon glyphicon-ok"></span> Guardar
            </button>
        </p>
    </form>
</div>

<div class="show-actions">
    <a class="btn btn-default active" role="button" href="{{ path('instancia_admin', {'id': instancia.id}) }}">
        <span class="glyphicon glyphicon-th-list"></span> Lista de plugins
    </a>

</div>


{% endblock%}

{% block inline_javascripts %}
<script type="text/javascript">
    autocompletadoDirRequest('#configorion_configorionbundle_plugintype_ruta', '{{ url('archivo_autocompletado')}}');
</script>
{% endblock%}