{% extends 'ConfigOrionBundle::layout.html.twig' %}
{% block body%}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h1>Cambiar contrase&ntilde;a de <i>&quot;{{ document.nombre }} ({{ document.username }})&quot;</i>  
        </h1>
    </div>

    <div class="show-content margin-basic-general">
        <form action="{{ path('usuario_update_password', { 'id': document.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_row(edit_form.passwordActual) }}
            {{ form_row(edit_form.password) }}
            <div class="hidden">{{ form_rest(edit_form) }}</div>
            <p class="actions-forms border-basic-top padding-basic-top">
                <button type="submit" class="btn btn-success active">
                    <span class="glyphicon glyphicon-ok"></span> Guardar
                </button>
            </p>
        </form>
    </div>
</div>

{% endblock%}